# dependencies
node_modules/
server/node_modules/

# build output
out/
dist/
server/dist/

# local env & data
.env
.env.local
server/.env
*.sqlite
*.sqlite-shm
*.sqlite-wal
server/data.sqlite
server/data.sqlite-shm
server/data.sqlite-wal

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.vscode/
.idea/

# Local Netlify folder
.netlify
